<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.knime.workbench.repository.categories">
		<category
			icon="icons/hdf5files.png"
			level-id="hdf5"
			locked="true"
			name="HDF5"
			path="/community/">
		</category>
	</extension>
	<extension
		point="org.knime.workbench.repository.nodes">
		<node
			deprecated="false"
			factory-class="org.knime.hdf5.nodes.reader.HDF5ReaderNodeFactory"
			category-path="/community/hdf5">
		</node>
	</extension>
	<extension
		point="org.knime.workbench.repository.nodes">
		<node
			deprecated="false"
			factory-class="org.knime.hdf5.nodes.writer.HDF5WriterNodeFactory"
			category-path="/community/hdf5">
		</node>
	</extension>
	<extension
	      point="org.knime.workbench.repository.registeredFileExtensions">
	      <FileExtensionMapping
             NodeFactory="org.knime.hdf5.nodes.reader.HDF5ReaderNodeFactory">
          <FileExtension
                extension=".h5">
          </FileExtension>
          <FileExtension
                extension=".hdf5">
          </FileExtension>
	      </FileExtensionMapping>
	</extension>
</plugin>
